# Local over Wi-Fi example:
# API_ORIGIN=http://192.168.31.166:5001

# Local over USB debug (adb reverse) example:
API_ORIGIN=http://127.0.0.1:5001

# Production example:
# API_ORIGIN=https://api.terracart.in
